.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao-primario--mobile {
    padding: 12px 16px;
    background: var(--azul-100);
}

.botao-primario--mobile__hover {
    padding: 12px 16px;
    background: var(--azul-80);
}

.botao-secundario--mobile {
    padding: 12px 16px;
    border: 1px solid var(--azul-100);
    box-sizing: border-box;
}

.botao-secundario--mobile__hover {
    padding: 12px 16px;

    background: var(--azul-20);

    border: 1px solid var(--azul-100);
    box-sizing: border-box;
}

.botao-primario--desktop {
    padding: 16px;

    background: var(--azul-100);
}

.botao-primario--desktop__hover {
    padding: 16px;

    background: var(--azul-80);
}

.botao-secundario--desktop {
    padding: 16px;
    
    border: 1px solid var(--azul-100);
    box-sizing: border-box;
}

.botao-secundario--desktop__hover {
    padding: 16px;

    background: var(--azul-20);

    border: 1px solid var(--azul-100);
    box-sizing: border-box;
}