.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0;
    justify-content:space-between;
}

.cabecalho--logo {
    display: flex;
    width: 100px;

    margin: 22px 16px;
}

.cabecalho--pesquisar {
    display: none;
}

.cabecalho--pesquisar--input {
    display: none;
}

.cabecalho--pesquisar--icone__mobile {
    margin-right: 19px;
    width: 17px;
    padding-top: 4px;
}

.cabecalho--botao {
    color: var(--azul-100);

    width: 133px;
    height: 40px;
    left: 151.5px;
    top: 16px;
}

@media screen and (min-width: 768px) {
    .cabecalho--logo {
        margin-left: 32px;
    }

    .cabecalho--pesquisar {
        display: flex;
        margin-right: 19px;
    }

    .cabecalho--pesquisar--input {
        display: flex;
        width: 272px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 20px;
        padding-left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: var(--preto-5);
        border: none;;
    }

    .cabecalho--pesquisar--icone {
        position: relative;
        padding-top: 11px;
        left: -30px;
    }

    .cabecalho--pesquisar--icone__mobile {
        display: none;
    }

    .cabecalho--botao {
        width: 166px;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho--logo {
        width: 176px;
        margin-left: 152px;
    }

    .cabecalho--pesquisar--input {
        width: 393px;
        padding-left: 16px;
    }
}