@media screen and (min-width: 0px) {
    .conteudo {
        background-color: var(--preto-5);
    }

    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 97px;
        margin-bottom: 97px;
    }

    .login h2.login__titulo{
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 16px;
        color: var(--preto-100);
    }

    main form input {
        display: flex;
        width: 275px;
        height: 41px;
        padding-left: 18px;
        border: none;
    }

   .login__input {
        background-color: var(--branco);
        margin-bottom: 16px;
   }

    main form input.login__input__email{
        margin-bottom: 16px;
    }

    .botao--login {
        background-color: var(--azul-100);
        color: var(--branco);

        font-size: 14px;
        line-height: 16px;

        width: 109px;
        height: 40px;

        margin-top: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media screen and (min-width: 768px) {
    .login{
        margin-top: 45px;
        margin-bottom: 61px;
    }

    .login h2.login__titulo{
        margin-bottom: 16px;
        font-size: 16px;
    }

    main form input {
        width: 275px;
        height: 41px;
        padding-left: 12px;
    }

    main form input.login__input__email{
        margin-bottom: 16px;
    }

    .botao--login {
        font-size: 14px;
        line-height: 16px;
    
        width: 109px;
        height: 40px;
    
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .login{
        margin-top: 91px;
        margin-bottom: 91px;
    }
    
    .login h2.login__titulo{
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
    }
    
    main form input {
        width: 423px;
        height: 64px;
        padding-left: 18px;
    }
    
    main form input.login__input__email{
        margin-bottom: 24.65px;
    }
    
    .botao--login {
        font-size: 18px;
        line-height: 21px;
    
        width: 423px;
        height: 62px;
    
        margin-top: 25px;
        padding-top: 20.5px;
        padding-bottom: 20.5px;
    }
    
}
