@media screen and (min-width: 0px) {
    .produtos--cabecalho {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }

    .produtos--cabecalho--titulo {
        font-weight: 700;
        font-size: 22px;
        color: var(--preto-100);
        margin-bottom: 16px;
    }

    .produtos--cabecalho--link{
        font-weight: 700;
        font-size: 14px;
        color: var(--azul-100);
        margin-top: 0;
    }

    .produto--cabecalho--link--img {
        width: 10.7px;
    }

    .produtos {
        display: grid;
        grid-gap: .2rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .produtos--cartao {
        display: grid;
        grid-template-areas: 
            "cartao-imagem"
            "cartao-corpo";
        grid-template-columns: auto;
        margin-right: .2rem;
    }

    .produdos--cartao:nth-child(2) {
        margin-right: 0;
    }
    
    .produdos--cartao:nth-child(4) {
        margin-right: 0;
    }
    
    .produtos--cartao__ativo-desktop { 
        display: none;
    }

    .produtos--cartao--img {
        grid-area: cartao-imagem;
        height: 174px;
        width: 156px;
    }

    .produdos--corpo {
        display: grid;
        grid-area: cartao-corpo;
    }

    .produtos--cartao--titulo {
        font-weight: 500;
        font-size: 14px;
        margin-top: 8px;
    }

    .produtos--cartao--valor {
        font-weight: 700;
        font-size: 16px;
        margin-top: 8px;
    }

    .produtos--cartao--link {
        font-weight: 700;
        font-size: 16px;
        color: var(--azul-100);
        margin-top: 8px;
    }
}

@media screen and (min-width: 768px) {
    .produtos--cabecalho {
        width: 100%;
    }

    .produtos {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
    }

    .produtos--cartao--img {
        height: 164px;
        width: 166px;
}

@media screen and (min-width: 1024px) {
    .produtos {
        grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }
    
    .produtos--cartao__ativo-desktop {
        display: grid;
    }
}

