@media screen and (min-width: 0px){
    .rodape {
        grid-area: rodape;
        display: grid;
        grid-template-areas:
           "rodape--principal"
           "rodape--final";
        grid-template-rows: auto;    
   }

   .rodape--principal {
        grid-area: rodape--principal;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09%;
        background-color: var(--azul-10);
       
    }

    .rodape--principal--logo {
        width: 176px;
        margin-left: calc(50% - 88px);
    }

    .rodape--principal--texto {
        text-align: center;
        margin-top: 16px;
    }

    .rodape--principal--fale-conosco {
        grid-row: 7 / 10;
    }

    .rodape--principal--fale-conosco--titulo {
        font-weight: 700;
        font-size: 16px;
        color: var(--preto-100);
        margin-bottom: 16px;
    }

    .rodape--principal--fale-conosco--input-nome {
        display: block;
        width: 100%;
        height: 56px;
        border: none;
        margin-bottom: 16px;
    }

    .rodape--principal--fale-conosco--input-mensagem {
        height: 82px;
        width: 100%;
        margin-bottom: 16px;
        border: none;
    }

    .rodape--botao {
        width: 151px;
        background-color: var(--azul-100);
        color: var(--branco);
        font-weight: 400;
        font-size: 14px;
    }

    .rodape-final {
        background-color: var(--branco);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        height: 102px;
        padding-top: 32px;
        padding-bottom: 32px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .rodape--principal {
        grid-template-columns: 40% 60%;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        background-color: var(--azul-10);
    }

    .rodape--principal--logo {
        margin-left: 0;
    }

    .rodape--principal--texto {
        grid-row: 2 / 9;
        text-align: left;
        padding-left: 8px;
        margin-top: 0;
    }

    .rodape--principal--fale-conosco {
        display: grid;
        grid-row: 1 / 7;
    }
}

@media screen and (min-width: 1024px){
    .rodape--principal {
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

    .rodape--principal--logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .rodape--principal--texto {
        grid-column: 2 / 3;
        grid-row: 1 / 7;
    }

    .rodape--principal--fale-conosco--input-nome{
        margin-top: 8px;
    }

    .rodape--botao {
        width: 165px;
    }
}