:root {
    --azul-100: #2A7AE4;
    --azul-80: #5595E9;
    --azul-20: #D4E4FA;

    font-family: 'Raleway', sans-serif;
}

.corpo {
    font-family: 'Raleway', sans-serif;

    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 72px;
}
