:root {
    --azul-100: #2A7AE4;
    --azul-80: #5595E9;
    --azul-20: #D4E4FA;
    --azul-10: #EAF2FD;
    --preto-100: #464646;
    --preto-10: #E5E5E5;
    --preto-5: #F5F5F5;
    --branco: #FFFFFF;

    font-family: 'Raleway', sans-serif;
}

.corpo {
    font-family: 'Raleway', sans-serif;

    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 72px;
}

.conteudo {
    grid-area: conteudo;
}

.container {
    padding: 16px;
}

@media scren and (min-width:768px) {
    .container {
        padding: 32px;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        padding-left:  152px;
        padding-right: 152px;
    }
}

