.input-container {
    font-weight: var(--fonte-peso-muito-leve);
    font-size: var(--fonte-tamanho-rodape-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

#nome {
    padding: 1.375rem 0.5rem 0.5rem;
    height: 56px;
    width: 100%;
}

.input-modelo {
    box-sizing: border-box;
    border-bottom: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: var(--preto-50);
}

#mensagem {
    height: 82px;
    padding: 1.375rem 0.5rem 0.5rem;
}