@media screen and (min-width: 0px){
    .rodape {
        display: grid;
        grid-template-areas:
           "rodape___principal"
           "rodape___final";
        grid-template-rows: auto;    
   }

   .rodape___principal {
        grid-area: rodape___principal;
        display: flex;
        flex-direction: column;
        background-color: var(--azul-10);
        padding: 16px;
       
    }

    .rodape___principal__logo {
        width: 176px;
        margin-left: calc(50% - 88px);
    }

    .rodape___principal__texto {
        text-align: center;
        margin-top: 16px;
    }

    form.rodape___principal__fale-conosco {
        display: flex;
        flex-direction: column;
    }

    fieldset {
        padding: 0;
        border: none;
    }

    form input, form textarea{
        outline: unset;
    }

    form textarea {
        resize: none;
    }

    legend {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: var(--preto-100);
        margin-bottom: 16px;
    }

    .rodape___principal__fale-conosco__nome {
        width: 100%;
        height: 56px;
        padding: 8px 12px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--branco);
        box-sizing: border-box;
    }

    .rodape___principal__fale-conosco__nome label {
        font-weight: 400;
        font-size: 12px;
        color: var(--preto-50);
    }

    #rodape___principal__fale-conosco__nome {
        border: none;
    }


    #rodape___principal__fale-conosco__mensagem {
        height: 82px;
        width: 100%;
        margin-bottom: 16px;
        border: none;
        font-weight: 400;
        font-size: 12px;
        color: var(--preto-50);
        padding: 8px 12px;

    }

    .rodape___final {
        grid-area: rodape___final;
        background-color: var(--branco);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        height: 102px;
        padding-top: 32px;
        padding-bottom: 32px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .rodape___principal {
        display: grid;
        padding: 32px;
        grid-template-columns: 40% 60%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        background-color: var(--azul-10);
        height: 365px;
    }

    .rodape___principal__logo {
        margin-left: 0;
    }

    .rodape___principal__texto {
        grid-row: 2 / 6;
        text-align: left;
        padding-left: 8px;
        margin-top: 0;
    }

    .rodape___principal__fale-conosco {
        display: grid;
        grid-row: 1 / 6;
    }
}

@media screen and (min-width: 1024px){
    .rodape___principal {
        padding: 64px 152px;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

    .rodape___principal__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .rodape___principal__texto {
        grid-column: 2 / 3;
        grid-row: 1 / 7;
    }

}