@media screen and (min-width: 0px){
    .rodape {
        display: grid;
        grid-template-areas:
           "rodape-principal"
           "rodape-final";
        grid-template-rows: auto;    
   }

   .rodape___principal {
        grid-area: rodape-principal;
        background-color: var(--azul-10);
    }

    .rodape___principal__logo {
        width: 176px;
        margin-left: calc(50% - 88px);
    }

    .rodape___principal__itens {
        text-align: center;
        margin-top: 16px;
    }

    .rodape___principal__itens-titulo {
        margin-bottom: 16px;
    }

    .cartao__fale-conosco{
        margin-bottom: 32px;
    }

    h3.cartao__fale-conosco__titulo {
        font-weight: var(--fonte-peso-pesado);
        font-size: var(--fonte-tamanho-rodape-itens);
        color: var(--preto-100);
        margin-bottom: 16px;
    }

    form input, form textarea{
        outline: unset;
    }

    form textarea {
        resize: none;
    }
    
    .rodape___final {
        grid-area: rodape-final;
        background-color: var(--branco);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        height: 102px;
        padding-top: 32px;
        padding-bottom: 32px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .rodape___principal {
        display: grid;
        padding: 32px;
        grid-template-columns: 40% 60%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        background-color: var(--azul-10);
        height: 365px;
    }

    .rodape___principal__logo {
        margin-left: 0;
    }

    .rodape___principal__itens {
        grid-row: 2 / 6;
        text-align: left;
        padding-left: 8px;
        margin-top: 0;
    }

    .rodape___principal__fale-conosco {
        display: grid;
        grid-row: 1 / 6;
    }
}

@media screen and (min-width: 1024px){
    .rodape___principal {
        padding: 64px 152px;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

    .rodape___principal__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .rodape___principal__itens {
        grid-column: 2 / 3;
        grid-row: 1 / 7;
    }

}